html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: #D0D3C5;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#56B1BF;
   padding:10px;
   font-family: 'Nova Flat', cursive;
}
#body {
   color:#032B2F;
   padding:10px;
   padding-bottom:20px;   /* Height of the footer */
   font-family: 'News Cycle', sans-serif;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   background:#56B1BF;
}

#container {
   height:100%;
}

/*
#08708A
#D73A31
#56B1BF
#D0D3C5
#032B2F
*/
