<h2>Welcome to the networking tracker thing...</h2>

  <a class="register-button" href="/users/new">Register</a>
  <div class='register-form'></div>

  <a class="login-button" href="/sessions/new">Login</a>
  <div class='login-form'></div>
  
